#                           BLOCKCHAIN CONFIGS
# =============================================================================
VITE_RPC_URL=
VITE_DEPLOYED_CONTRACT_ADDRESS=
VITE_RELAYER_ADDRESS=
VITE_CHAIN_ID=

# =============================================================================
#                           VITE CONFIGS
# =============================================================================
VITE_HOST=
VITE_PORT=
VITE_BACKEND_HOSTNAME=
VITE_BACKEND_PORT=
VITE_ENV=